<div class="row">
    <div class="col">
        <div class="container">
            <h2 class="text-center text-primary">About Developer</h2>
            <div class="card lg-12">
                <div class="card-img-wrapper">
                    <img src="{{ './assets/dev_susmoy.png'}}" alt="SH SusMoy" class="card-img-top">
                </div>
                <hr>
                <div class="container">
                    <h2 class="card-title text-center mb-1">
                        MD. SABIQUL HAQUE SUSMOY
                    </h2>
                    <h4 class="card-title text-center mb-1">
                        Full stack Developer
                    </h4>
                    <hr>
                    <div class="card-body text-center mb-1">
                        <strong>Tech Stack in this Project:</strong>
                        
                        <ul>
                            <li>DotNet Core 5.0</li>
                            <li>C#</li>
                            <li>SignalR</li>
                            <li>ASPNET Identity + JWT Token</li>
                            <li>PostgreSQL</li>
                            <li>Angluar 12</li>
                            <li>TypeScript</li>
                            <li>NGX-Bootstrap</li>
                        </ul> 
                    </div>
                    <hr>
                    <p class="card-text text-muted text-center">Over 3+ Years of Experience in the field of Software Engineering and Data Management.</p>
                    <hr>
                    <p class="card-text text-muted text-center">Follow me on: <strong> github.com/mshsusmoy </strong></p>
                    <div class="form-group text-center">
                        <button class="btn btn-success mr-2" (click)="cancel()" type="button">Kudos</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

