<form [formGroup]='changePasswordForm' (ngSubmit)="changePasswordForm.valid && changePassword()">
    <h2 class="text-center text-primary">Change Password</h2>
    <hr>
    <app-text-input [formControl]='changePasswordForm.controls["currentPassword"]' [label]='"Current Password"' 
        [type]='"password"'></app-text-input>
    <app-text-input [formControl]='changePasswordForm.controls["newPassword"]' [label]='"New Password"' 
        [type]='"password"'></app-text-input>
    <app-text-input [formControl]='changePasswordForm.controls["confirmNewPassword"]' [label]='"Confirm New Password"' 
        [type]='"password"'></app-text-input>


    <div class="form-group text-center">
        <button [disabled]='!changePasswordForm.valid' class="btn btn-success mr-2" type="submit">Change</button>
        <button class="btn btn-default mr-2" (click)="cancel()" type="button">Cancel</button>
    </div>
</form>

<!-- <p>Form Value: {{changePasswordForm.value | json}}</p>
<p>Form status: {{changePasswordForm.status | json}}</p> -->