<div class="row mb-3">
	<div class="col-sm-11"><input class="form-control" placeholder="search here"/></div>
	<div class="col-sm"><button class="btn btn-outline-primary btn-block btn-sm"><i class="fa fa-search"></i></button></div>
  </div>
<hr>
<div class="card mb-3">
	<div class="card-header">
	  Push Your Status
	</div>
	<form #statusForm="ngForm" (ngSubmit)="Publish(); statusForm.reset()" class="card-body">
		<textarea class="form-control mb-2" [(ngModel)]="model.status" name="status" rows="3" style="height: 109px;"></textarea>
		<button class="btn btn-outline-primary  btn-block">Publish</button>
	</form>
</div>

<div class="card text-white bg-dark  mb-3" *ngFor="let item of items">
	<div class="card-header">
	  susmoy @theDeveloper766 -- status time: 12:00 AM BDT, 13 JAN, 2022
	</div>
	<div class="card-body">
	  <h3 class="card-title">Angular 12</h3>
	  <p class="card-text">Angular is an application design framework and development platform for creating efficient and sophisticated single-page apps.

		These Angular docs help you learn and use the Angular framework and development platform, from your first application to optimizing complex single-page apps for enterprises. Tutorials and guides include downloadable examples to accelerate your projects.</p>

	  <div style="display: inline-block;">
		
			<button class="btn btn-outline-primary btn-sm mr-2"><i class="fa fa-thumbs-up"></i></button>
		
			<button class="btn btn-outline-primary btn-sm "><i class="fa fa-share"></i></button>
		
	  </div>
	</div>
</div>